<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Beacon_Region_1</string>
		<key>proximityUUID</key>
		<string>ILU8E19F-ABBA-4BF6-91D1-F34E30C1261E</string>
		<key>Major</key>
		<integer>1</integer>
		<key>Minor</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Beacon_Region_2</string>
		<key>proximityUUID</key>
		<string>GR86D1FB-B2C0-4AB9-878D-2CC079AA2989</string>
		<key>Major</key>
		<integer>1</integer>
		<key>Minor</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Beacon_Region_3</string>
		<key>proximityUUID</key>
		<string>GR86D1FB-B2C0-4AB9-878D-2CC079AA2989</string>
		<key>Major</key>
		<integer>1</integer>
		<key>Minor</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Beacon_Region_4</string>
		<key>proximityUUID</key>
		<string>FUN11DLV-B2C0-4AB9-878D-2CC079AA2989</string>
		<key>Major</key>
		<integer>1</integer>
		<key>Minor</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
