<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Excelsior</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Macon</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Akron</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Shenandoah</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bournemouth</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Esperia</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Norge</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lakehurst</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Graf Zeppelin</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Moffet Field</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iPad</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>GaryBeacon</string>
		<key>visits</key>
		<integer>0</integer>
		<key>totalVisitTime</key>
		<string>0</string>
	</dict>
</array>
</plist>
